@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

.hero {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-container {
  max-width: 950px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 16px;
}

.hero-logo-text {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

.header ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
}

.hero-content-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin: 64px 0;
}

.hero-left {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.hero-header {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero-text {
  font-size: 18px;
  color: #e5e7eb;
}

button {
  all: unset;
}

button:focus {
  outline: revert;
}

button {
  display: flex;
  justify-content: center;
  background: #3882f6;
  color: #f9faf8;
  font-weight: 500;
  border-radius: 8px;
  padding: 8px 16px;
  width: 100px;
}

.image-placeholder {
  background-color: gray;
  width: 500px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
